<mat-card>
    <mat-card-title> Trasferência: </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label for="data">Valor</mat-label>
            <input matInput placeholder="Valor" type="number" name="data" [(ngModel)]="valor" />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="data">Pix saída:</mat-label>
            <input matInput placeholder="Saída" type="string" name="data" [(ngModel)]="pix" />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="data">Pix destino:</mat-label>
            <input matInput placeholder="Destino" type="string" name="data" [(ngModel)]="destino" />
        </mat-form-field>
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="efetuar()">Trasferir</button>
            <a mat-stroked-button routerLink=""> Listar Contas </a>
        </mat-card-actions>
    </mat-card-content>
</mat-card>    