<mat-sidenav-container>
    <mat-sidenav opened mode="side" fixedInViewport fixedTopGap="64">
      <mat-nav-list>
        <a mat-list-item routerLink="">
          <mat-icon matListIcon>home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-list-item routerLink="./cadastrar/conta">
          <mat-icon matListIcon>account_balance</mat-icon>
          <span>Cadastrar Conta</span>
        </a>
        <a mat-list-item routerLink="./remover/conta">
          <mat-icon matListIcon>account_balance</mat-icon>
          <span>Remover</span>
        </a>
        <a mat-list-item routerLink="./atualizar/conta">
          <mat-icon matListIcon>account_balance</mat-icon>
          <span>Atualizar conta</span>
        </a>
        <a mat-list-item routerLink="./saque/conta">
          <mat-icon matListIcon>home</mat-icon>
          <span>Saque</span>
        </a>
        <a mat-list-item routerLink="./deposito/conta">
          <mat-icon matListIcon>home</mat-icon>
          <span>Deposito</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
  